*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,body{
  height: 100%;
  width: 100%;
  background: url('./public/images/background1.jpeg');  
  background-size: cover;
  font-family:"Montserrat",sans-serif ;
  background-repeat: no-repeat;
  scroll-behavior: smooth;
}
body::-webkit-scrollbar{
  display: none;
}
.mainDiv{
  background: url('./public/images/background1.jpeg');  
  background-size: cover;
  font-family:"Montserrat",sans-serif ;
}
.page1{
  color: rgba(255, 255, 255, 0.85);
  height: 100vh; 
  background-repeat: no-repeat;
}
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  position: sticky;
  top: 0; 
  /* backdrop-filter: blur(12px);  */
  
}
.header a{
  font-size: 12px;
  padding-right: 50px;
  text-decoration: none;
  letter-spacing: 4px;
  color: rgba(172, 172, 172, 0.881);
}
.header h1{
  padding-left: 20px;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 18px;
  text-shadow: 0px 0px 10px rgba(39, 39, 39, 0.932);
  color: white;
  

}
.nameDiv{
  width: 70vw;
  height: calc(100vh - 90px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: 70px;
}
.name{
  display:flex;
  height: calc(100vh - 90px);
}
.contactIcons{
  width:10vw;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap:20px;
  padding-bottom: 30px;
}
.nameDiv h1{
  font-size:20vh;
  color: white;
  text-transform: uppercase;
  /* animation: glow 2s infinite; */
  font-weight: 700;
}
.nameDiv h4{
  padding-right:400px ;
  text-transform: uppercase;
  font-weight: 100;
}
.nameDiv h5{
  padding-left:400px ;
  text-transform: uppercase;
  font-weight: 100; 
  padding-top: 20px;
}
.jr{
  padding-left: 5px;
}
.page2{
  color: white;
  height: 90vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  /* background-image: url("./public/images/background1.jpeg"); */
}
.header2{
  display: flex;
  justify-content: center;
  width: 100%;
}
.header2 h1{
  font-size: 4vw;
  padding-top: 20px;
  padding-bottom: 50px;
  font-weight: 300;
}
.infos{
  padding-top: 40px;
  width: 95vw;
  height: 80%;
  padding-top: 20px;
}
.infos h2{
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 2px;
  padding-left: 10px;
  padding-bottom: 20px;
}
.gridtable{
  display: grid;
  grid-template-columns: 4fr 4fr;
  gap: 50px;
  padding-top: 20px;
}
.gridtable h5{
  font-size: 15px;
  text-transform: capitalize;
  letter-spacing: 2px;
  font-weight: 300;
  padding-left: 40px;
}
.gridtable span{
  color:grey;
}
.skills{
  height: 100vh;
  width: 100vw;
  color: white;
 
}
.skillHeader{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3vw;
  
}
.skillHeader h1{
  text-transform: uppercase;
  font-weight: 300;
}
.skillSet{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  width: 100vw;
}
.skillSet .items{
  width: 90vw;
  height: 80%;
  padding: 10px;
  margin-left: 7vw;
}
.items{
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
}
.item1{
  width: 15vw;
  height: 25vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.item1 i{
  font-size: 15vh;
  cursor: pointer;
}
.item1 h4{
  font-size: 1.5vw;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: 300;
  color: rgba(172, 172, 172, 0.881);

}
#html:hover{
  text-shadow: 0px 0px 20px rgb(255, 54, 54);
}
#css:hover{
  text-shadow: 0px 0px 20px rgb(9, 103, 255);
}
#js:hover{
  text-shadow: 0px 0px 20px yellow;
}
#python:hover{
  text-shadow: 0px 0px 20px rgb(0, 119, 255);
}
#node:hover{
  text-shadow: 0px 0px 20px rgb(72, 255, 0);
}
#react:hover{
  text-shadow: 0px 0px 20px rgb(54, 211, 255);
}
#mongo:hover{
  text-shadow: 0px 0px 20px rgb(0, 255, 85);
}
#express:hover{
  text-shadow: 0px 0px 20px rgb(212, 237, 29);
}
#github:hover{
  text-shadow: 0px 0px 20px rgb(255, 255, 255);
}
.hidefb{
  display: none;
}

@keyframes glow{
  0%{
    text-shadow: 0px 0px 10px rgba(242, 241, 241, 0.932);
  }
  50%{
    text-shadow: 0px 0px 15px rgba(181, 181, 181, 0.932);
  }
  100%{
    text-shadow: 0px 0px 10px rgba(201, 201, 201, 0.932);
  }
}